.sections-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center; 

    min-width: 600px;
    max-width: 1700px;

    margin: 140px 140px;  
}

.manage-img  img{
    width: 540px;
    height: 500px;
}

.sections-manage--completo {
    margin-left: 100px;
    padding: 50px 0;
    
    width: 430px;
    border-top: 2px solid rgba(190, 190, 190, 0.89);
    border-bottom: 2px solid rgba(190, 190, 190, 0.89);
}

.manage-txt {
    margin: 30px auto;
}

.manage-txt h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}

.manage-txt p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    color: #33323D;
    opacity: 0.8;
    padding: 25px 0;margin-bottom: 25px;
}

.manage-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.manage-btn a {
    text-decoration: none;
}

.manage-btn button {
    display: flex;
    justify-content: flex-start;

    padding: 17px 28px;

    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;

    color: #33323d;
    background-color: #FFF;

    cursor: pointer;
}

.sections-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center; 

    min-width: 600px;

    margin: 140px 140px;  
}

.bookmark {
    margin-right: 100px;
}

.sections-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center; 

    min-width: 600px;

    margin: 140px 140px;  
}

.sections-container-4 {
    display: flex;
    flex-direction: row;
    justify-content: center; 

    min-width: 600px;

    margin: 140px 140px;  
}

.fylo {
    margin-right: 100px;
}
